.contact-form{
   background-color: #333333;
   padding: 3rem 5rem;
   border-radius: 2rem;
   margin-top: 5rem;
   width: 50dvw;

   label{
      color: #F9F9F9;
   }
}

.resetPass{
   display: flex;
   justify-content: center;
}